:root{
    --color1:#1F2124;
    --color2:#231F20;
    --color3:#FFF9EE;
    --color4:#FFC93E;

  }
  
  ::selection{
    background-color:var(--color4);
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color4);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 60%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }
  
  body{
    background-color:var(--color1);
    margin:0;
    width:100%;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--color3);
  }
  @media (max-width: 440px) {
    header {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img-logo img{
        max-width:300px;
        max-height:230px;
        margin-top: 18vw;
    }
    .nav-list{
      display: flex;
      flex-direction:row;
      justify-content:center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
    }
    .about-description h1{
        line-height: .75;
        text-align: left;
    }
    #header-section .logo-image{
        text-align: center;
        margin-top: 25px;
    }
    .desc-group-name{
        margin-top: 18vw;
    }
    .directory{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .directory .album-covers img{
        max-width:350px;
        max-height:300px;
    }
    #welcome h2{
        margin-top: 80vw;
    }
    .menu-title{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .directory {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
   
  }
  @media (max-width:600px){
    .img-logo {
        max-width:500px;
        max-height:500px;
        margin-top: 100px;
    }
}
 
 /*---------------------------------NAV*/
  header{
    width:100%;
    position:fixed;
    background-color:var(--color2);
    top: 0;
    min-height: 75px;
    padding: 0px 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    z-index:10;
  }
  header img{
    width:130px;
    height: 40px;
    cursor: pointer;
  }
  #navbar{
    display: flex;
    flex-direction: row;
    padding: 25px;
  }
 
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }

  .nav-list a {
    font-size: 2.5rem;
    padding: 3rem;
    font-family: 'Teko';
    font-weight: 400;
    color:var(--color3);
    transition:all 1s ease;
  
  }
  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .about-link a:hover {
    transition:0.3s;
    color:var(--color4);
  }
  .album-link a:hover{
    transition:0.3s;
    color:var(--color4);
  }
  /*----------------------ARTIST ABOUT*/
  #about-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items:center;

  }

  .img-logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
    z-index: 1;
  }
  .img-logo img{

    max-width:1200px;
    height:800px;
    position: relative;
    z-index: 1;
  }
  .about-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin: 0 auto;

  }
  .about-description h1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Teko';
    font-weight: 400;
    font-size: 8vw;
    margin-top: -80px;
    z-index: 2;
    color:var(--color3);
    text-align: left;
    position: absolute;
    top:9;
    left: 12vw;
    right:12vw;
  }
  .desc-p{

    padding-left: 12vw;
    padding-right: 12vw;

    padding-bottom: 10vw;
  }
  .about-description p{
    text-align: justify;
    position: absolute;
    left: 12vw;
    right:12vw;
    color: var(--color3);
    margin:0 auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 20px;
    font-family: 'Poppins';
  }
/*-------------------WELCOME*/
#welcome{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:flex-end;
    flex-wrap: wrap;
    padding-left:12vw;
    padding-right: 12vw;
    padding-bottom: 30px;
    margin:0 auto;
    text-align: center;
    /*padding:30px;*/
    margin-top:100px;

}
.welcome-greeting h2{
    font-family:'Teko';
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    color: var(--color3);
}
.welcome-p{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.welcome-p p{
    font-family: 'Poppins';
    text-align: justify;
    font-size: 20px;
    color: var(--color3);
}
  /*-------------------DIRECTORY*/

  .menu-border{
    background-color: var(--color1);
    width:100%;
    padding-left: 12vw;
    padding-right:12vw;
    /*padding-left:50px;
    padding-right: 50px;*/
    padding-bottom: 150px;
    margin:0 auto;
    
}
.menu-title{
    display: flex;
    text-align: left;
    align-items: flex-start;
}
.menu-title h1{
    text-align: center;
    font-size: 85px;
    color: var(--color3);
    font-family: 'Teko';
    font-weight: 400;
    margin-bottom: 10px;
    padding-top: 7vw;
} 
/*.directory-title h1{
 
    font-size: 60px;
    color: var(--color6);
    font-family: 'Teko';
    font-weight: 400;
    margin-bottom: 60px;
}*/

.directory{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    margin: 0 auto;
    gap:10px;
}

.album-covers img{
    max-width: 280px;
    height: 280px;
    object-fit: cover;
    width: 100%;
    box-shadow: 3px 3px 3px 3px var(--color8);
    transition: all 1s ease;
    border: 3px solid var(--color1);
  }

  .album-covers img:hover{
    transition: 0.5s;
    border: 3px solid var(--color4);
  }

  .tdce img,.tccf img,.tccfoe img,.m2tc img,.tnct img,.tncf img {
    filter:grayscale(100%);
  }
  footer{
    padding:10px;
    background-color: var(--color4);
    color: var(--color1);
    font-family: 'Poppins';
    font-weight: 400;
  }